* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

html,
body {

	background-color: : #fff;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: : 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


header {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/fenugreek.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.fenugreek-text-box {
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    
    max-width: 1140px;
    margin: 0 auto;
}

section {
    
    padding: 80px 0;
}

.box {
    
    padding: 1%;
}


h1,
h2,
h3 {
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

h1 {
    
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}
    
    
h2 {
  
    font-size: 180%;
    word-spacing: 2px;
    text-align:center;
    margin-bottom: 30px;
    
}

h2:after {
    
    display: block;
    height: 2px;
    width: 100px;
    margin:  0 auto;
    background-color: #ad580c;
    content: " ";
    margin-top: 30px;
    
}

h3 {
    
    font-size: 110%;
    margin-bottom: 15px;
}

/*paragraphs*/

.long-text {
    
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

nav {
    width: 100%;
    background-color: #ad580c;
    border: 1px solid #ad580c;
    border-radius: 200px;
}

nav ul {
    
/*
    disply: flex;
    flex-direction: row;
*/
    overflow: hidden;
    text-align: center;
    transform: translate(7%, 0);
}

nav ul li {
    list-style: none;
/*    flex-grow: 1;*/
    float: left;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    width: 16.666%;
    max-width: 960px;
    width: calc(100% / 6);
    box-sizing: border-box;
}


nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

nav ul li a:hover,
nav ul li a:active {
  
    background-color: #ad580c;
    border: 1px solid #ad580c;
    color: #555;
}

.pic {
    
    list-style: none;
    margin-top: 15px;s
}

ul.pic li {
    
    display:inline;
    padding: 10px;
    margin: 0 auto;
    border: none;
    vertical-align: top;
    
}

ul.pic li img {

    width: 23%;
    height:auto;
    margin: 0 0 5px;
 
}

.copyright {
    
    padding-bottom: 30px;
    text-align: center;
    color: #17ce1e;
    font-size: 1em;

/*media queries*/



@media only screen and (max-width: 959px) {
  
    .fenugreek-text-box {
    
        width: 100%;
        max-width: 959px;
        padding: 0 2%;
               
        }
    
    .row {
    
        padding: 0 2%;
    }
    
     body {
        font-size: 16px;

    }
    
    section {
        
        padding: 55px 0;
    }
    
    .long-text {
    
    line-height: 145%;
    width: 75%;
    margin-left: 15%;
    text-align: center;
}

}
    

@media only screen and (max-width: 767px) {
    
    body {
        font-size: 30px;

    }
    
    section {
        
        padding: 55px 0;
    }
    
    .row,
    .fenugreek-text-box {
        padding 4%;
    }
    
    col {
        
        width: 100%;
    }
    
     ul.pic li {
    
    display:block;
    
    }
    
}

@media only screen and (max-width: 480px) {
    
    ul.pic li 
    {
        display: block;
        margin: 0 0 5px;
    }
    
    ul.pic li a {
        
        display: block;
        
    }
    
    ul.pic {
        
        margin-left: 0;
    }
    
    ul.pic li {
        
        width 100% !important;
        margin: 0 0 20px;
    }
}





